@import '../../stylesheets/variables.scss';

// About Style

.section-content-about {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
  }

}

.about-number {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.about-area {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

.experience {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
  }

}

.experience-block {
  padding-bottom: 30px;

  @media (min-width: 768px) {
    flex-grow: 1;
    flex-basis: 0;
    padding-bottom: 0;
    padding-right: 15px;
  }

}

.blob-group {
  display: flex;
  justify-content: space-between;
}

.blob {
  border: 4px solid $secondary-default;
  border-radius: 25px;
  height: 25px;
  margin-top: 40px;
  margin-bottom: 40px;
  transition: all 0.2s ease-in-out;

  @media (min-width: 992px) {
    border-radius: 30px;
    height: 30px
  }
  @media (min-width: 1200px) {
    border-radius: 35px;
    height: 35px;
  }
}

.blob-short {
  flex-grow: 1.2;

  &:hover {
    flex-grow: 2;
  }
}

.blob-medium {
  flex-grow: 2;
  animation: 1.6s shove 6s 1 ease-in-out;

  &:hover {
    flex-grow: 2.5;
  }
}

.blob-long {
  flex-grow: 2.8;

  &:hover {
    flex-grow: 3.2;
  }
}

@-webkit-keyframes shove {
  0% { flex-grow: 2; }
  30% { flex-grow: 2.5; }
  60% { flex-grow: 2; }
  70% { flex-grow: 2; }
  80% { flex-grow: 2; }
  90% { flex-grow: 2; }
  100% { flex-grow: 2; }
}
