@import '../../stylesheets/variables.scss';

// Icon Style

.icon {
  display: block;
}

.icon-large {
  height: 30px;
  width: 30px;
}

.icon-medium {
  height: 25px;
  width: 25px;
}

.icon-small {
  height: 15px;
  width: 15px;
  margin-right: 10px;
}
