@import '../../stylesheets/variables.scss';

// Slide Style

.slide {

}

.slide-intro {
  padding: 3em;

  @media (min-width: 576px) {
    padding: 4.5em;
  }

  @media (min-width: 768px) {
    padding: 5em;
  }

  .slide-intro-block {
    padding-top: 30px;
  }

}

.slide-image {

}
