@import '../../stylesheets/variables.scss';

// Section Style

.section {
  display: flex;
  justify-content: center;
  position: relative;
}

.section-content {
  margin: 1em;
  width: 100%;

  @media (min-width: 576px) {
    margin: 2em;
  }

  @media (min-width: 768px) {
    margin: 3em;
  }

  @media (min-width: 992px) {
    margin: 4em;
  }

  @media (min-width: 1200px) {
    max-width: 1100px;
  }

}
