@import '../../stylesheets/variables.scss';

// Carousel Style

.carousel {
  position: relative;
  overflow-x: hidden;
  background-color: $white;
  min-height: 100%;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.5);

  @media (min-width: 576px) {
    overflow-y: hidden;
    min-height: 740px;
    margin-bottom: 4em;
    max-width: 550px;
  }

  @media (min-width: 768px) {
    max-width: 750px;
  }

  @media (min-width: 992px) {
    max-width: 950px;
  }

  @media (min-width: 1200px) {
    max-width: 1100px;
  }

  // Carousel Slides
  .carousel-slides {
    transition: margin-left 300ms linear;

    .carousel-slide {
      position: relative;
      display: inline-block;
      vertical-align: top;
    }

  }

  // Carousel Navigation
  .carousel-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .carousel-nav-icon {
      transition: all 0.2s ease-in-out;
      opacity: 0.1;
      display: flex;
      padding: 1em;
      width: 50%;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }

      &.left {
        justify-content: flex-start;
      }

      &.right {
        justify-content: flex-end;
      }

    }

  }

  // Carousel Pagination
  .carousel-pagination {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin-bottom: 30px;

    .carousel-page {
      background-color: lighten($dark-default, 70%);
      border-radius: 5px;
      cursor: pointer;
      display: inline-block;
      height: 10px;
      margin: 0 5px;
      transition: background-color 100ms linear;
      vertical-align: middle;
      width: 10px;

      &:hover {
        background-color: $dark-default;
      }

    }

    .carousel-page-active {
      background-color: $dark-default;
    }
  }

}
