@import '../../stylesheets/variables.scss';

// Intro Style

.section-intro {

}

.section-content-intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 650px;
  max-height: 700px;
  position: relative;

  @media (min-width: 768px) {
    flex-direction: row;
    max-width: 700px;
    min-height: 40vh;
  }

  @media (min-width: 992px) {
    max-width: 850px;
    min-height: 45vh;
  }

  @media (min-width: 1200px) {
    max-width: 1000px;
    min-height: 50vh;
  }

}

.intro-content {
  position: relative;
  width: 100%;

  @media (min-width: 768px) {
    padding-left: 50px;
    margin-top: 30px;

    &:before {
      position: absolute;
      display: block;
      background-color: $secondary-default;
      content: '';
      width: 5px;
      height: 75%;
      left: 0;
    }

  }

  @media (min-width: 1200px) {
    margin-top: 50px;
  }

}

.intro-content-title {
  position: relative;
  height: 100px;

  .content-title {
    display: inline-block;

    .title {
      animation: slide 16s linear infinite 0s;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      bottom: 0;

      &:nth-child(2) {
        animation-delay: 4s;
      }

      &:nth-child(3) {
        animation-delay: 8s;
      }

      &:nth-child(4) {
        animation-delay: 12s;
      }

    }

    @-webkit-keyframes slide {
      0% { opacity: 0; }
      5% { opacity: 0; transform: translateY(-50px); }
      10% { opacity: 1; transform: translateY(0px); }
      25% { opacity: 1; transform: translateY(0px); }
      30% { opacity: 0; transform: translateY(50px); }
      80% { opacity: 0; }
      100% { opacity: 0; }
    }

  }

}

.intro-content-subtitle {
  color: $secondary-default;
}

.intro-content-grid {

  @media (min-width: 768px) {
    height: 25%;
    width: 70%;
    background-image:
      radial-gradient(lighten($dark-default, 50%) 8%, transparent 0),
      radial-gradient(lighten($dark-default, 50%) 8%, transparent 0);
    background-size: 30px 30px;
  }

}

.intro-nav-link {
  color: $secondary-default;
  display: block;
  text-decoration: none;
}

.intro-background {
  position: absolute;
  background-color: $light-default;
  height: 250px;
  width: 350px;
  top: 220px;
  right: 0;
  z-index: -1;

  @media (min-width: 768px) {
    top: 75px;
  }

  @media (min-width: 992px) {
    top: 100px;
    right: 50px;
    height: 350px;
    width: 600px;
  }

}
