@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600');
@import './variables.scss';

html,
body {
  height: 100%;
  width: 100%;
}

body {
  color: $font-color;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-weight: 600;
  margin: 0;
}

h1 {
  font-size: 3.052em;
  @media (min-width: 992px) {
    font-size: 3.815em;
  }
  @media (min-width: 1200px) {
    font-size: 4.768em;
  }
}

h2 {
  font-size: 2.441em;
  @media (min-width: 992px) {
    font-size: 3.052em;
  }
  @media (min-width: 1200px) {
    font-size: 3.815em;
  }
}

h3 {
  font-size: 1.728em;
  @media (min-width: 992px) {
    font-size: 2.441em;
  }
  @media (min-width: 1200px) {
    font-size: 3.052em;
  }
}

h4 {
  font-size: 1.424em;
  @media (min-width: 992px) {
    font-size: 1.602em;
  }
  @media (min-width: 1200px) {
    font-size: 1.802em;
  }
}

h5 {
  font-size: 1.125em;
  @media (min-width: 992px) {
    font-size: 1.266em;
  }
  @media (min-width: 1200px) {
    font-size: 1.424em;
  }
}

p {
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 300;
  margin-top: 0;
}
