
// Spacing Helpers

@for $i from 1 through 20 {
  $size-increment: 5;
  $size: $i*$size-increment;
  .padding-#{$size}px {
    padding: #{$size}px !important;
  }
  .padding-top-#{$size}px {
    padding-top: #{$size}px !important;
  }
  .padding-bottom-#{$size}px {
    padding-bottom: #{$size}px !important;
  }
  .padding-left-#{$size}px {
    padding-left: #{$size}px !important;
  }
  .padding-right-#{$size}px {
    padding-right: #{$size}px !important;
  }
  .margin-#{$size}px {
    margin: #{$size}px !important;
  }
  .margin-top-#{$size}px {
    margin-top: #{$size}px !important;
  }
  .margin-bottom-#{$size}px {
    margin-bottom: #{$size}px !important;
  }
  .margin-left-#{$size}px {
    margin-left: #{$size}px !important;
  }
  .margin-right-#{$size}px {
    margin-right: #{$size}px !important;
  }
}
