
// Color Variables

$white: #FFFFFF;

$light-default: #F9F9F9;
$dark-default: #2B2D42;

$primary-default: #EF5D60;
$secondary-default: #820263;
$tertiary-default: #41D3BD;

$font-color: $dark-default;
