@import '../../stylesheets/variables.scss';

// Modal Style

.modal-open,
.modal-overlay {
	position: fixed;
  top: 0;
  left: 0;
	right: 0;
	bottom: 0;
  z-index: 1;
}

.modal-open {
	overflow-y: scroll;
	display: flex;
	justify-content: center;
}

.modal-closed {
  display: none;
}

.modal-overlay {
	background-color: rgba(0,0,0,0.7);
}

.modal-wrapper {
  z-index: 1;

	@media (min-width: 576px) {
		margin-top: 4em;
		margin-bottom: 4em;
  }

}

.modal-wrapper-close {
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	position: absolute;
	right: 25px;
	top: 25px;
	z-index: 1;
}
