@import '../../stylesheets/variables.scss';

// Navigation Style

.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 20px;
  padding-right: 30px;

  @media (min-width: 768px) {
    padding-top: 50px;
    padding-right: 60px;
  }

}

// Navigation Icon

.nav-link {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  position: absolute;
  width: 30px;
  z-index: 4;

  @media (min-width: 768px) {
    position: static;
    width: 40px;
  }

  @media (min-width: 1200px) {
    width: 50px;
  }

}

.nav-link-icon {
  position: relative;
  display: block;
}

.nav-link-icon:after,
.nav-link-icon:before {
  content: "";
  position: absolute;
  right: 0;
}

.nav-link-icon:before {
  top: -8px;

  @media (min-width: 768px) {
    top: -10px;
  }

  @media (min-width: 1200px) {
    top: -15px;
  }

}

.nav-link-icon:after{
  top: 8px;

  @media (min-width: 768px) {
    top: 10px;
  }

  @media (min-width: 1200px) {
    top: 15px;
  }

}

.nav-link-icon,
.nav-link-icon:after,
.nav-link-icon:before {
  width: 100%;
  height: 3px;
  background-color: $secondary-default;
  transition: all 0.2s;
  backface-visibility: hidden;

  @media (min-width: 768px) {
    height: 4px;
  }

  @media (min-width: 1200px) {
    height: 5px;
  }

}

// Navigation Menu

.nav-menu {
  display: flex;
  flex-direction: column;
  transition: opacity 100ms;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  text-align: center;
  background-color: $secondary-default;
  padding: 40px;
  z-index: 3;

  @media (min-width: 768px) {
    background-color: transparent;
    flex-direction: row;
    left: auto;
    top: auto;
    text-align: left;
    right: 100px;
    padding: 0;
  }

  @media (min-width: 1200px) {
    right: 120px;
  }

}

.nav-menu-item {
  color: $light-default;
  font-size: 18px;
  text-decoration: none;
  transition: all .2s;
  padding: 5px 10px;

  &:hover {
    color: darken($secondary-default, 5%);
  }

  @media (min-width: 768px) {
    color: $font-color;
    font-size: inherit;

    &:hover {
      transition: all 50ms ease-in-out;
    }

  }

  @media (min-width: 1200px) {
    padding: 10px 15px;
  }

}

// Closed Navigation

.nav-close {

  .nav-menu {
    opacity: 1;
    visibility: visible;
  }

  .nav-link-icon {
    background-color: transparent;
  }

  .nav-link-icon:before,
  .nav-link-icon:after {
    background-color: $light-default;

    @media (min-width: 768px) {
      background-color: $secondary-default;
    }

  }

  .nav-link-icon:before {
    transform: rotate(45deg) translate(5px, 5px);

    @media (min-width: 768px) {
      transform: rotate(45deg) translate(7px, 6px);
    }

    @media (min-width: 1200px) {
      transform: rotate(45deg) translate(14px, 14px);
    }

  }

  .nav-link-icon:after {
    transform: rotate(-45deg) translate(7px, -7px);

    @media (min-width: 768px) {
      transform: rotate(-45deg) translate(8px, -8px);
    }

  }

}
