@import '../../stylesheets/variables.scss';

// List Style

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.list-item {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}

$dot-color: $primary-default;

.dot-set {
  display: flex;
  margin-right: 10px;
}

.dot {
  background-color: $dark-default;
  border-radius: 50%;
  margin: 2px;
  width: 10px;
  height: 10px;
}

.dot-set-1 {
  .dot:nth-child(1) {
    background-color: $dot-color;
  }
}

.dot-set-2 {
  .dot:nth-child(1),
  .dot:nth-child(2) {
    background-color: $dot-color;
  }
}

.dot-set-3 {
  .dot:nth-child(1),
  .dot:nth-child(2),
  .dot:nth-child(3) {
    background-color: $dot-color;
  }
}

.dot-set-4 {
  .dot:nth-child(1),
  .dot:nth-child(2),
  .dot:nth-child(3),
  .dot:nth-child(4) {
    background-color: $dot-color;
  }
}

.dot-set-5 {
  .dot:nth-child(1),
  .dot:nth-child(2),
  .dot:nth-child(3),
  .dot:nth-child(4),
  .dot:nth-child(5) {
    background-color: $dot-color;
  }
}
