@import '../../stylesheets/variables.scss';

// Projects Style

.section-projects {

}

.projects-area {
  position: relative;
  margin-bottom: 50px;
  display: flex;
  justify-content: flex-end;
}

.projects-area-block {
  position: absolute;
  text-align: right;
  bottom: 60px;
  left: 0;
  right: 0;
}
