@import '../../stylesheets/variables.scss';

// Recommendations Style

.section-recommendations {
  background-color: $secondary-default;

  @media (min-width: 768px) {
    padding-left: 4em;
    padding-right: 4em;
  }

  .content-block-title,
  .content-block-subtitle {
    color: $white;
    margin-bottom: 10px;
  }

  .content-block-description {

    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
    }

  }

}

.section-content-recommendations {
  margin: 2em;

  @media (min-width: 768px) {
    margin: 4em;
  }

}

.recommendation-column {
  display: flex;
  flex-direction: column;
}

.recommendation-column-link {
  font-size: 0.8em;
  color: darken($secondary-default, 35%);
  text-decoration: none;
  margin-bottom: 5px;
}
