@import '../../stylesheets/variables.scss';

// Panel Style

.panel-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  margin-bottom: 10px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }

}

.panel {
  position: relative;
  display: flex;

  &:after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }

}

.panel-name {
  background-color: $secondary-default;
}

.panel-item {
  background-color: $light-default;
}

.panel-content-name,
.panel-content-item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.panel-content-name {
  color: $white;
  font-weight: 800;
}

.panel-content-item {
  border: 4px solid transparent;
  transition: all 100ms ease-in-out;
  cursor: pointer;
  color: darken($light-default, 20%);

  &:hover {
    border-color: $secondary-default;
    color: $secondary-default;
    font-weight: 600;
    margin: 10px;
  }

}

.overflow-hidden {
  overflow: hidden;
}
