@import '../../stylesheets/variables.scss';

// Content Block Style

.content-block {

}

.content-block-title {
  margin-bottom: 5px;
}


.content-block-subtitle {
  color: $secondary-default;
  font-weight: 800;
  margin-bottom: 5px;
}

.content-block-description {

}
