@import '../../stylesheets/variables.scss';

// Contact Style

.section-contact {
  margin-bottom: 2em;

  @media (min-width: 768px) {
    margin-bottom: 10em;
  }

}

.section-content-contact {
  position: relative;
  border: 4px solid $secondary-default;
  padding: 2em;
  display: flex;
  justify-content: center;

  @media (min-width: 576px) {
    padding: 3em 6em;
    max-width: 700px;
  }

}

.contact-number {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  z-index: -1;
}

.contact-area {

  @media (min-width: 576px) {
    max-width: 600px;
  }

}

.contact-area-link {
  text-decoration: none;
  font-weight: 800;
  color: $primary-default;
}
