@import '../../stylesheets/variables.scss';

// Process Style

.section-process {
  background: $dark-default;
  color: $white;
  overflow: hidden;

  @media (min-width: 576px) {
    margin-top: 10em;
  }

}

.section-content-process {
  display: flex;
  flex-direction: column;
  padding: 2em;

  @media (min-width: 576px) {
    padding: 0;
    flex-direction: row;
    min-height: 200px;
  }

}

.process-number {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2em;

  @media (min-width: 576px) {
    flex-grow: 2;
    flex-basis: 0;
    justify-content: flex-end;
    padding: 0;
  }

  @media (min-width: 768px) {
    align-items: flex-end;
  }

  .id-number {

    @media (min-width: 576px) {
      position: absolute;
      top: -40px;
    }

  }

}

.process-area {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @media (min-width: 576px) {
    flex-grow: 3;
    flex-basis: 0;
  }

}
