@import '../../stylesheets/variables.scss';

// Card Style

.card {
  background-color: $white;
  box-shadow: 0px 0px 12px 0px rgba(237,237,237,1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: 576px) {
    min-height: 200px;
  }

  @media (min-width: 768px) {
    min-height: 300px;
  }

  .icon-large {
    transition: all 1s ease-in-out;
    transform-origin: 50% 50%;
    transform: rotate(0deg);
  }

  &:hover {

    .icon-large {
      transform: rotate(360deg);
    }

  }

}
