@import '../../stylesheets/variables.scss';

// Button Style

.btn {
  display: block;
  white-space: nowrap;
  vertical-align: middle;
  font-size: inherit;
  font-weight: 800;
  user-select: none;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: all 100ms ease-in-out;
  border: 0;
  outline: 0;

  &:hover {
    transition: all 300ms ease-in-out;
  }

  @media (min-width: 576px) {
    display: inline-block;
    padding: 14px 50px;
  }

}

.btn-primary {
  background-color: $secondary-default;
  color: $light-default;
}
