@import '../../stylesheets/variables.scss';

// Skills Style

.section-content-skills {

}


.skills-number {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  z-index: -1;
}

.skills-background {
  background-color: $light-default;
  height: 250px;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  z-index: -1;

  &:after {
    display: inline-block;
    content: '';
    border-style: solid;
    border-width: 150px 50vw 0 50vw;
    border-color: $light-default transparent transparent transparent;
    position: absolute;
    bottom: -150px;
  }

}

.skills-area {
  display: flex;
  flex-direction: column;
  padding-top: 8em;

  @media (min-width: 768px) {
    flex-direction: row;
  }

}

.skill {
  flex-grow: 1;
  flex-basis: 0;

  @media (min-width: 768px) {
    margin: 15px;
  }

  .card,
  .list {
    display: flex;
    flex-direction: column;
    padding: 30px;
  }

  .content-icon {
    align-self: flex-end;
    flex-grow: 2;
    flex-basis: 0;
  }

  .content-block {
    flex-grow: 4;
    flex-basis: 0;
  }

}
